.translator-container {
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #d64141;
    border-radius: 5px;
    background-color: #2c9b6d;
  }
  
  h2 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  label {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  textarea {
    width: 100%;
    height: 100px;
    margin-bottom: 10px;
  }
  
  button {
    padding: 10px 20px;
    font-size: 18px;
    background-color: #d2449c;
    color: #4fa5c2;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #84a927;
  }
  
  #translatedText {
    margin-top: 10px;
  }  